# Ignore everything:
src/**
# Except for this directories:
!src/*
!src/Containers/*
!src/Containers/CustomerHome/**
!src/Containers/Login/**
!src/Containers/Onboarding/**
!src/Containers/Register/**
!src/Containers/Permissions/**
!src/Containers/ForgotPassword/**
src/App.js
