# Ignore everything:
src/**
!src/*
!src/Containers/*
!src/Containers/CustomerHome/**
!src/Containers/Login/**
!src/Containers/Onboarding/**
!src/Containers/Register/**
src/App.js
# Except for this directories:
