# copy this file to "api.config.yml" and modify as needed for your local dev environment

APP_ENV: dev # dev|prod
APP_ROOT: /app
APP_URL: http://localhost:5110
APP_LOCALIZATIONS: ["en","zh-hans","zh-hant","ja","es","fr","pt","de","it","ko"] # note that "en" should always be first in the list, as it is the default fallback

SESSION_LANG_PAIRS:
  default:
    inviterBatchSize: 1
    inviterInterval: 2
    atWill: true
    atWillMissedCallTrigger: 2 # how many calls in a row trigger kicking a linguist offline`
    atWillMissedCallTimeThreshold: 30 # time in seconds the linguist should have to answer before the missed invite counts against them`
    atWillMissedCallPeriod: 7200 # the interval in which the missed calls are counted (number in seconds)`
    public: true
  "rus+swe":
    inviterBatchSize: 1
    inviterInterval: 1
    atWill: true
    atWillMissedCallTrigger: 1
    atWillMissedCallTimeThreshold: 1
    atWillMissedCallPeriod: 1
    public: false
  "rus+yue":
    inviterInterval: 0
    atWill: false
    atWillMissedCallTrigger: 1
    public: false        
  "eng+yue": ~
  "eng+jpn": ~
  "cmn+eng": ~

#CURRENCY
CURRENCY_SUPPORTED: ["jpy", "usd"]
CURRENCY_COUNTRY_DEFAULTS: {"jp": "jpy","us": "usd"}
CURRENCY_EXCHANGE_RATES: {"jpy":{"usd": 0.0092},"usd":{"jpy": 120.000}}
CURRENCY_PAY_AS_YOU_GO_RATE: {"jpy": 120, "usd": 100}

SURVEY_MONKEY_CUSTOMER_SURVEY: "protocol://fqdn.url"
SURVEY_MONKEY_LINGUIST_SURVEY: "protocol://fqdn.url"

CLUSTER_LOADBALANCER_SOURCE_IP_ADDRESSES: [] #leave this alone for dev
COUNTRY_CODE_BLACKLIST: []

LOG_LEVEL: info # debug|info|warn|error
LOG_FORMAT: logfmt # json|logfmt

POSTGRES_USER: solo-platform
POSTGRES_PASS: solo-platform
POSTGRES_DB: solo-platform
POSTGRES_HOST: postgres:5432
POSTGRES_POOL_SIZE: 4

GCP_PROJECT_ID: solo-infrastructure
GCP_AUTH_FILE: /app/gcp/app-key.json

GCS_PUBLIC_BUCKET: solo-platform-api-test-storage
GCS_PUBLIC_BUCKET_URL: https://storage.googleapis.com/solo-platform-api-test-storage
GCS_PROFILE_PHOTO_PREFIX: profile-photos

GOOGLE_SHEETS_API_AUTH_FILE: /app/gsheets/solo-platform-api-reports.json

JWT_SECRET: this-is-not-secret
JWT_ISSUER: solo.api.com

TOKBOX_ACCOUNT: 3372212
TOKBOX_APIKEY: 46126532
TOKBOX_SECRET: a57580cebd2033a1760b73aec5994a6e118d4652

REDIS_URL: redis:6379

# Note that these are URLs inteded for a browser, not for backend communication between docker services
WEBAPP_URL: http://localhost:3003
WEBAPP_URL_CONFIRM_EMAIL: http://localhost:3003/#/email/verify
WEBAPP_URL_RESET_PASSWORD: http://localhost:3003/#/password/reset

EMAIL_ENABLED: false
EMAIL_FROM_ADDRESS: no-reply@example.com
EMAIL_FROM_SURVEY: info@example.com
EMAIL_USER: user@example.com
EMAIL_PASS: user-email-password
EMAIL_PORT: "587"
EMAIL_DOMAIN: smtp.example.com

APPLE_APP_STORE_URL: https://itunes.apple.com/app/jeenie/id1341871432
GOOGLE_PLAY_STORE_URL: https://play.google.com/store/apps/details?id=com.newsolo

PROBLEM_REPORT_EMAIL: no-reply@example.com

SESSION_TIMEOUT_INTERVAL: 60

FCM_ENABLED: false
FCM_SERVER_KEY: replace-this-with-real-key

PUSHY_ENABLED: false
PUSHY_API_KEY: replace-this-with-real-key

# mapping of channel to webhook URL.  Note that these don't have to
# correspond to the actual Slack channel names - they are just keys
# for internal reference. The actual Slack channel name is determined
# by the configuration of the webhook in Slack
SLACK_WEBHOOKS_ENABLED: false
SLACK_WEBHOOKS:
  sessions: http://example.com/foo
  events: http://example.com/foo
  billing: http://example.com/foo
  jeenies: http://example.com/foo
  devops: http://example.com/foo
  ondemand: http://example.com/foo
  sessionstatus: http://example.com/foo
  # new slack SLACK_WEBHOOKS
  # jeenie
  jeenie_call_began: http://example.com/foo
  jeenie_call_reports: http://example.com/foo
  # jeenie_japan
  jeenie_japan_call_began: http://example.com/foo
  jeenie_japan_call_reports: http://example.com/foo
  # temp points to old jeenie slack
  jeenie_call_reports_old: http://example.com/foo

STRIPE_APIKEY: sk_test_hHVA79Oxm42hi0WnL41BmSRz

ZENDESK_ENABLED: false
ZENDESK_DOMAIN: example
ZENDESK_USER: user@example.com/token
ZENDESK_PASS: api-token-for-user
ZENDESK_GROUPS:
  engineering: 360001778213
  billing: 360001788134
  
IPSTACK_API_KEY: dfe6c79f51e7e14f5d3cab950525db0d

#GOOGLE SHEETS
DAILY_ACTIVITY_REPORT: ["Google Sheet ID", "TAB ID"]
ONVOY_LINGUIST_SIGNUP: ["Google Sheet ID", "TAB ID"]
DAR_TEST: ["Google Sheet ID","TAB ID"]
DAILY_CUSTOMER_CALL_REPORT: ["Google Sheet ID", "TAB ID"]
LINGUIST_HOURLY_REPORT: ["Google Sheet ID","TAB ID"]
USER_EMAIL_CAMPAIGNS_REPORT: ["Google Sheet ID","TAB ID"]

#Mutex Promo Code Hack 619
HACK_619: [            
            {
             "org": "ACME",
             "eventReferralID": "00000000-0000-0000-0000-000000000001",
             "referralIDs": 
                [
                  "00000000-0000-0000-0000-000000000001",
                  "00000000-0000-0000-0000-000000000002",
                  "00000000-0000-0000-0000-000000000003",
                  "00000000-0000-0000-0000-000000000004",
                  "00000000-0000-0000-0000-000000000005"
                ],
             "eventIDs": 
                [
                  "21111111-1111-1111-1111-111111111111",
                  "21111111-1111-1111-1111-111111111112",
                  "21111111-1111-1111-1111-111111111113",
                  "21111111-1111-1111-1111-111111111114"
                ]
            }
          ]