# copy this file to "config.yml" and modify as needed for your local dev environment

APP_ENV: dev # dev|prod
APP_ROOT: /app
APP_URL: http://localhost:5110
APP_LINGUIST_LANGS: ["eng","cmn","yue","jpn"]
APP_LINGUIST_LANG_PAIRS: ["cmn-eng","eng-yue","eng-jpn"]
APP_LOCALIZATIONS: ["en","zh-hans","zh-hant","ja","es"] # note that "en" should always be first in the list, as it is the default fallback

MOBILE_APP_CUSTOMER_REQUIRED_VERSION: ""
MOBILE_APP_CUSTOMER_SUGGESTED_VERSION: ""
MOBILE_APP_LINGUIST_REQUIRED_VERSION: ""
MOBILE_APP_LINGUIST_SUGGESTED_VERSION: ""

CLUSTER_LOADBALANCER_SOURCE_IP_ADDRESSES: [] #leave this alone for dev
COUNTRY_CODE_BLACKLIST: []

LOG_LEVEL: debug # debug|info|warn|error
LOG_FORMAT: json # json|logfmt

POSTGRES_USER: solo-platform
POSTGRES_PASS: solo-platform
POSTGRES_DB: solo-platform
POSTGRES_HOST: postgres:5432
POSTGRES_POOL_SIZE: 4

GCP_PROJECT_ID: solo-infrastructure
GCP_AUTH_FILE: /app/gcp/app-key.json

GCS_PUBLIC_BUCKET: solo-platform-api-test-storage
GCS_PUBLIC_BUCKET_URL: https://storage.googleapis.com/solo-platform-api-test-storage
GCS_PROFILE_PHOTO_PREFIX: profile-photos

JWT_SECRET: this-is-not-secret
JWT_ISSUER: solo.api.com

TOKBOX_ACCOUNT: 3372212
TOKBOX_APIKEY: 46126532
TOKBOX_SECRET: a57580cebd2033a1760b73aec5994a6e118d4652

REDIS_URL: redis:6379

# Note that these are URLs inteded for a browser, not for backend communication between docker services
WEBAPP_URL: http://localhost:3003
WEBAPP_URL_CONFIRM_EMAIL: http://localhost:3003/#/email/verify
WEBAPP_URL_RESET_PASSWORD: http://localhost:3003/#/password/reset

EMAIL_ENABLED: false
EMAIL_FROM_ADDRESS: no-reply@example.com
EMAIL_USER: user@example.com
EMAIL_PASS: user-email-password
EMAIL_PORT: "587"
EMAIL_DOMAIN: smtp.example.com

APPLE_APP_STORE_URL: https://itunes.apple.com/app/jeenie/id1341871432
GOOGLE_PLAY_STORE_URL: https://play.google.com/store/apps/details?id=com.newsolo

PROBLEM_REPORT_EMAIL: no-reply@example.com

INVITER_BATCH_SIZE: 1 # num invites to send at once
INVITER_INTERVAL: 2 # seconds
INVITER_QUEUE_TIMEOUT: 10 # seconds

FCM_ENABLED: false
FCM_SERVER_KEY: replace-this-with-real-key

PUSHY_ENABLED: false
PUSHY_API_KEY: replace-this-with-real-key

# mapping of channel to webhook URL.  Note that these don't have to
# correspond to the actual Slack channel names - they are just keys
# for internal reference. The actual Slack channel name is determined
# by the configuration of the webhook in Slack
SLACK_WEBHOOKS_ENABLED: false
SLACK_WEBHOOKS:
  sessions: http://example.com/foo
  events: http://example.com/foo
  billing: http://example.com/foo
  jeenies: http://example.com/foo
  devops: http://example.com/foo
  ondemand: http://example.com/foo
  sessionstatus: http://example.com/foo
  
STRIPE_APIKEY: sk_test_hHVA79Oxm42hi0WnL41BmSRz

ZENDESK_ENABLED: false
ZENDESK_DOMAIN: example
ZENDESK_USER: user@example.com/token
ZENDESK_PASS: api-token-for-user
ZENDESK_GROUPS:
  engineering: 360001778213
  billing: 360001788134

# settings for "at will" languages
AT_WILL_LANG_PAIRS: ["cmn-eng","eng-yue","eng-jpn"]
AT_WILL_MISSED_CALL_TRIGGER: 2            # how many calls in a row trigger kicking a linguist offline
AT_WILL_MISSED_CALL_TIME_THRESHOLD: 30    # time in seconds the linguist should have to answer before the missed invite counts against them
AT_WILL_MISSED_CALL_PERIOD: 7200          # the interval in which the missed calls are counted (number in seconds)

IPSTACK_API_KEY: dfe6c79f51e7e14f5d3cab950525db0d
