<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NewSolo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>70653796945650006B77D04690A9FB9BB3586253</string>
				<key>dateExpires</key>
				<string>29/12/18</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ZBN2633FB9.org.reactjs.native.example.NewSolov1</string>
				<key>com.apple.developer.team-identifier</key>
				<string>ZBN2633FB9</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>ZBN2633FB9.org.reactjs.native.example.NewSolov1</string>
				</array>
			</dict>
			<key>name</key>
			<string>NewSolo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8311126f-8464-45aa-81ab-6c217f8fdd48</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ZBN2633FB9</string>
				<key>name</key>
				<string>Global Professional Search, Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
